<!doctype html>
<html lang="sv">
    <head>
    <style> 
        input[type=button], input[type=submit], input[type=reset] {
            background-color: grey;
            border: none;
            color: white;
            padding: 8px 14px;
            text-decoration: none;
            margin: 2px 2px;
            cursor: pointer;
        }
    </style>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet"  href="/css/style.css"/>
    </head>
    <body>
        <h1>CARTMANS GAMING BUTIK</h1>
        <ul>
            <li><a href="/eshop/index">Hem</a></li> 
            <li><a href="/eshop/products">Produkter</a></li> 
            <li><a href="/eshop/category">Kategorier</a></li> 
            <li><a href="/eshop/add-product">Lägg till produkter</a></li>
            <li><a href="/eshop/customer">Kunder</a></li>
            <li><a href="/eshop/order">Order</a></li>  
            <li><a href="/eshop/about">Om</a> </li>
        </ul>