<%- include("./../partials/header.ejs") %>
<h3 style="height: 10px;"></h3>
<h3 style="clear:left; text-align:center;margin: 0px">All Rights Reserved 2022</h3>
<p style="clear:left; text-align:center;margin : 0px">Created By</p>
<p style="clear:left; text-align:center;margin : 0px">Ali Reza Nazari</p>
<%- include("./../partials/footer.ejs") %>