<%- include("./../partials/header.ejs") %>
<h2>Vi säljer följande spel:</h2>
<table>
    <tr>
      <td>Grand Theft Auto Vice City</td>
    </tr>
    <tr>
      <td>Grand Theft Auto San Andreas</td>
    </tr>
    <tr>
      <td>The Sims 4</td>
    </tr>
    <tr>
      <td>Call of Duty</td>
    </tr>
    <tr>
      <td>The Legend of Zelda</td>
    </tr>
</table>

<%- include("./../partials/footer.ejs") %>